html {
  scroll-behavior: smooth;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-primary;
  line-height: 1.5;
  font-size: 0.875rem;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  line-height: 1.5;
  margin-bottom: 0.75rem;
  font-family: $ff-primary;
}
h1 {
  font-size: 1.1em;
}
h2 {
  font-size: 1.15rem;
}
p {
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2 {
    line-height: 1;
  }
}